# Virtual Environment
blog_env/
venv/
.venv/
render_venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Media uploads
media/

# Environment variables
.env
.blog_env

# VS Code
.vscode/

# Linux
*.swp
